<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Клиенты</title>

    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/addClient.css}">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

    <meta charset="utf-8">
</head>


<body>



<div class="wrapper">
    <div th:replace="general :: page-header"></div>

    <div class="content">
        <div class="addClient">
            <form th:action="@{/add_new_client}" method="post">
                <input name="fullname" placeholder="ФИО"/>
                <input name="address" placeholder="адрес"/>
                <input name="phone" placeholder="телефон"/>
                <input name="email" placeholder="почта"/>
                <input name="type" placeholder="тип"/>
                <input type="date" name="birthday" placeholder="дата рождения"/>
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>


    <div th:replace="general :: footer"></div>

</div>
</body>
</html>