<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Клиенты</title>

  <link rel="stylesheet" th:href="@{/style.css}">
  <link rel="stylesheet" th:href="@{/addClient.css}">
  <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

  <meta charset="utf-8">
</head>


<body>



<div class="wrapper">
  <div th:replace="general :: page-header"></div>

  <div class="content">
    <div class="addClient">
      <form th:action="@{/add_new_operation}" method="post">
        <input name="account" placeholder="счёт"/>
        <input name="department" placeholder="отделение"/>
        <input name="type" placeholder="тип"/>
        <input type="Date" name="date" placeholder="дата совершения"/>
        <input name="amount" placeholder="сумма"/>
        <input type="submit" value="Submit"/>
      </form>
    </div>
  </div>


  <div th:replace="general :: footer"></div>

</div>
</body>
</html>