<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Клиенты</title>

    <link rel="stylesheet" th:href="@{/style.css}">

    <meta charset="utf-8">
</head>


<body>



<div class="wrapper">
    <div th:replace="general :: page-header"></div>

    <div class="content">
        <h1>Клиенты</h1>
        <div class="clientsFilters">
            Фильтры:
            <form action="/clients" method="get">
                <input type="text" name="fullname" th:value="${param.fullname}" placeholder="ФИО"/>
                <input name="address" th:value="${param.address}" placeholder="Адрес"/>
                <input name="phone" th:value="${param.phone}" placeholder="Телефон"/>
                <input name="email" th:value="${param.email}" placeholder="Почта"/>
                <input type="Date" id="birthday" name="birthday" th:value="${param.birthday}" placeholder="Дата рождения"/>
                <input type="submit" value="Применить"/>
                <input type="reset" value="Очистить"/>
            </form>
        </div>

        <div class="clientsInfo">
            <table>
                <div class="thead">
                <thead>
                    <tr>
                        <th scope="col">ФИО</th>
                        <th scope="col">Адрес</th>
                        <th scope="col">Телефон</th>
                        <th scope="col">Почта</th>
                        <th scope="col">Дата рождения</th>
                    </tr>
                </thead>
                </div>

                <tbody>
                    <tr th:each="client, iter: ${clients}">
                        <td>
                            <a th:text="${client.getFullname()}" th:href="'/client?client_id=' + ${client.getId()}"></a>
                        </td>
                        <td th:text="${client.getAddress()}"></td><br>
                        <td th:text="${client.getPhone()}"></td><br>
                        <td th:text="${client.getEmail()}"></td><br>
                        <td th:text="${client.getBirthday()}"></td><br>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div th:replace="general :: footer"></div>

</div>



</body>
</html>