<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Ошибки</title>

    <link rel="stylesheet" th:href="@{/style.css}">

    <meta charset="utf-8">
</head>


<body>



<div class="wrapper">
    <div th:replace="general :: page-header"></div>

    <div class="content">
        <div class="bg-image error-page">
            <div class="container">
                <h1>Страница не найдена</h1>
                <p>К сожалению, мы не можем найти то, что вы ищете. Хотите перейти на
                    <a href="/">главную страницу</a>?
                </p>
            </div>
        </div>

        <div class="indent">
            <span class="centered" th:text="${error_msg}"></span>
        </div>

    </div>



    <div th:replace="general :: footer"></div>

</div>



</body>
</html>



